@import url("https://fonts.googleapis.com/css?family=Lato:100");

* {
  box-sizing: border-box;
}

.scene {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  perspective: 770px;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Lato", sans-serif;
  background: #F5F5F5;
  display: flex;
  flex-flow: row wrap;  

}

.canvas {
  position: relative;
  top: 40%;
  left: 0;
  width: 180px;
  height: 180px;
/*   transform-origin: center center 0px; */
/*   transform: translate(0%, 0%); */
  transform-style: preserve-3d;
  transition: 500ms;
  background: black;
  flex: 1 1 calc(50% - 1rem);
/*   position: relative; */
}

.canvas:hover {
  cursor: pointer;
  transform: scale(1.05, 1.05);
}

.album-1 {
  position: absolute;
  top: 40%;
  left: 5%;
}

.album-2 {
  position: absolute;
  top: 40%;
  left: 24%;
}

.album-3 {
  position: absolute;
  top: 40%;
  left: 43%;
}

.album-4 {
  position: absolute;
  top: 40%;
  left: 62%;
}

.album-5 {
  position: absolute;
  top: 40%;
  left: 81%;
} 

 .canvas .poster {
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.canvas .poster img{
  max-width: 100%;
  height: auto;
  display: inline-block;
}

.canvas div {
  position: absolute;
  transform-style: preserve-3d;
}

.glass {
  position: absolute;
  width: 180px;
  height: 180px;
  transform: translateZ(3px);
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/258608/room.png");
  background-position: 0px 0px;
  opacity: 0.05;
}

.frame-left-inner {
  left: 0;
  width: 20px;
  height: 200px;
  transform-origin: left bottom;
  transform: rotateY(-90deg);
  background: #171717;
}

.frame-left-surface {
  right: 0;
  width: 20px;
  height: 200px;
  transform-origin: right bottom;
  transform: rotateY(90deg);
  background: #1C1C1C;
}

.frame-left-outter {
  top: -20px;
  width: 20px;
  height: 220px;
  transform-origin: left bottom;
  transform: rotateY(90deg);
  background: #1A1A1A;
}

.frame-right-inner {
  right: 0;
  width: 20px;
  height: 200px;
  transform-origin: right bottom;
  transform: rotateY(90deg);
  background: black;
}

.frame-right-surface {
  left: 0;
  width: 20px;
  height: 200px;
  transform-origin: left bottom;
  transform: rotateY(-90deg);
  background: #1C1C1C;
}

.frame-right-outter {
  right: 0;
  top: -20px;
  width: 20px;
  height: 220px;
  transform-origin: right bottom;
  transform: rotateY(-90deg);
  background: #1A1A1A;
}

.frame-top-inner {
  right: -20px;
  width: 220px;
  height: 20px;
  transform-origin: right top;
  transform: rotateX(90deg);
  background: black;
}

.frame-top-surface {
  bottom: 0;
  left: 0;
  width: 220px;
  height: 20px;
  transform-origin: right bottom;
  transform: rotateX(-90deg);
  background: #1C1C1C;
}

.frame-top-outter {
  width: 220px;
  height: 20px;
  transform-origin: right top;
  transform: rotateX(-90deg);
  background: #1A1A1A;
}

.frame-bottom-inner {
  bottom: 0;
  left: 0;
  width: 200px;
  height: 20px;
  transform-origin: right bottom;
  transform: rotateX(-90deg);
  background: #303030;
}

.frame-bottom-surface {
  top: 0px;
  left: 0px;
  width: 200px;
  height: 20px;
  transform-origin: right top;
  transform: rotateX(90deg);
  background: #1C1C1C;
}

.frame-bottom-outter {
  bottom: 0;
  left: -20px;
  width: 220px;
  height: 20px;
  transform-origin: right bottom;
  transform: rotateX(90deg);
  background: black;
}

@media only screen and (max-width: 1000px) {
    .scene {
        flex-direction: column;
        overflow: auto;
    }
    .canvas {
        flex-direction: column;
    }

    .scene .canvas {
      width: 280px;
      height: 280px;
      margin-left: auto;
      margin-right: auto;
/*         width: 93%; */
    }
  
  .album-1 {
  position: absolute;
  left: 50%;
  top: 30%;
}

.album-2 {
  position: absolute;
  left: 50%;
  top: 85%;
}

.album-3 {
  position: absolute;
  left: 50%;
  top: 140%;
}

.album-4 {
  position: absolute;
  left: 50%;
  top: 195%;
}

.album-5 {
  position: absolute;
  left: 50%;
  top: 250%;
  margin-bottom: 100px;
}

  .frame-left-inner {
  left: 0;
  width: 30px;
  height: 280px;
  transform-origin: left bottom;
  transform: rotateY(-90deg);
  background: #171717;
}

.frame-left-surface {
  top: -30px;
  right: 0;
  width: 30px;
  height: 340px;
  transform-origin: right bottom;
  transform: rotateY(90deg);
  background: #1C1C1C;
}

.frame-left-outter {
  top: 0;
  width: 30px;
  height: 340px;
  transform-origin: left bottom;
  transform: rotateY(90deg);
  background: #1A1A1A;
}

.frame-right-inner {
  right: 0;
  width: 30px;
  height: 310px;
  transform-origin: right bottom;
  transform: rotateY(90deg);
  background: black;
}

.frame-right-surface {
  left: 0;
  width: 30px;
  height: 310px;
  transform-origin: left bottom;
  transform: rotateY(-90deg);
  background: #1C1C1C;
}

.frame-right-outter {
  right: 0;
  top: -30px;
  width: 30px;
  height: 340px;
  transform-origin: right bottom;
  transform: rotateY(-90deg);
  background: #1A1A1A;
}

.frame-top-inner {
  right: -30px;
  width: 310px;
  height: 30px;
  transform-origin: right top;
  transform: rotateX(90deg);
  background: black;
}

.frame-top-surface {
  bottom: 0;
  left: -30px;
  width: 340px;
  height: 30px;
  transform-origin: right bottom;
  transform: rotateX(-90deg);
  background: #1C1C1C;
}

.frame-top-outter {
  left: 0;
  width: 340px;
  height: 30px;
  transform-origin: right top;
  transform: rotateX(-90deg);
  background: #1A1A1A;
}

.frame-bottom-inner {
  bottom: 0;
  left: 0;
  width: 310px;
  height: 30px;
  transform-origin: right bottom;
  transform: rotateX(-90deg);
  background: #303030;
}

.frame-bottom-surface {
  top: 0px;
  left: 0px;
  width: 310px;
  height: 30px;
  transform-origin: right top;
  transform: rotateX(90deg);
  background: #1C1C1C;
}

  .glass {
  position: absolute;
  width: 280px;
  height: 280px;
  transform: translateZ(3px);
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/258608/room.png");
  background-position: 0px 0px;
  opacity: 0.05;
}
  
.frame-bottom-outter {
  bottom: 0;
  left: -30px;
  width: 340px;
  height: 30px;
  transform-origin: right bottom;
  transform: rotateX(90deg);
  background: black;
}
  
}

@media only screen and (max-width: 400px){
  
.album-5 {
  position: absolute;
  left: 50%;
  top: 250%;
  margin-bottom: 100px;
}
}