// fav colors #DA304C;

:root {
  --body-bg: #F7F9F7; 
  --body-color: #1E1E24;
  --sections-color: #F7F9F7;
  --footer-bg: #1E1E24;
  --border-color: #1E1E24;
}

.dark-mode:root {
  --body-bg: #1E1E24; 
  --body-color: #fff;
  --sections-color: #6c6c6c;
  // --sections-color: #424651;
  --footer-bg: black;
  --border-color: #474747;
}

$bg-color: var(--body-bg); 
$font-color: var(--body-color);
$projects-color: hsl(180, 100%, 32%);
$skills-color: hsl(300, 100%, 32%);
$genskills-color: hsl(359, 100%, 66%);
$sections-color: var(--sections-color);
$border-color: var(--border-color);
$footer-bg: var(--footer-bg);

label {
  color: $font-color;
}

// $border-color: #39FF14;
// $sections-color: #30343F; Gunmetal
// $sections-color: #A663CC; RECONECTA
// $sections-color: #1E1E24; RAISIN !!!
// $sections-color: #127475; SKOBELOFF
// $sections-color: #FF5154; TART ORANGE !!!
// 00B2CA Pacific blue


// $bg-color: hwb(204 20% 20%);
// $sections-color: hsl(188, 54%, 80%) ;
// $border-color: #62676A;
// $font-color: #181E34;

body {
    // background-color: $bg-color;
    background-color: $bg-color;
    color: $font-color;
    border-color: $border-color;
    transition: ease-in-out 250ms;
    // font-family: 'DynaPuff', cursive;
    // font-family: 'IM Fell Double Pica SC', serif;
    // font-family: 'Uncial Antiqua', cursive;
    // font-family: 'Zen Dots', cursive;
    font-family: 'Galindo', cursive;
    // font-family: 'Revalia', cursive;
    // font-family: 'Metal Mania', cursive;
    // font-family: 'New Rocker', cursive;
    // font-family: 'Goldman', cursive;
    // font-family: 'Shojumaru', cursive;
    // font-family: 'Righteous', cursive;    
  }

  .sections, footer {
    display: flex;
    // flex-wrap: wrap;
    border: 3px solid $border-color;
    width: 100%;
    // min-width: 7.07rem;
    height: 12.5rem;
    justify-content: center;
    align-items: center;
    // color: $font-color;
    line-height: 1.5;
  }

  .sections {
    color: $font-color;
    background-color: $sections-color;
  }
  
  header {
    display: flex;
    color: white;
    height: 4rem;
    margin: 0 auto;
    width: 98%;
    align-items: center;
    justify-content: space-between;
  }

  h1 {
    // font-family: 'Revalia', cursive;
    font-size: 2rem;
    font-weight: 900;
    margin: auto 0;
    color: $font-color;
  }

  h2 {
    font-size: 1.5rem;
  }
  
  main {
    display: grid;
    margin: auto 0;
  }
 
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo h1 {
    margin-left: 0.5rem;
  }
  
  header img {
    height: 3rem;
    width: 3rem;
  }
  
  header nav {
    display: flex;
    justify-content: right;
  }
  
  header ul li {
    display: inline;
  }

  #menu {
    display: none;
    position: absolute;
    
    &:hover {
      background-color: $bg-color;
      }
    }

  }

  nav a {
    padding: 0.5rem;
    font-weight: bold;
    color: $font-color;
    border-radius: 15px;

    &:hover {
      background-color: $font-color;
      color: $bg-color;
      transition: 250ms;
      border-radius: 15px;
    }
  }
  
  .containers {
    display: grid;
    flex-wrap: wrap;
    margin: 0.5rem auto;
    width: 98%;
    min-height: 12.5rem;
    column-gap: 1rem;
    row-gap: 1rem;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    // border: 1px solid red;
  }
  
  /* ABOUT */
  
  .about-container {
    grid-template: 1fr / repeat(5, 1fr);
  }

  .about-container .square-2 {
    grid-column: span 4;
    // border-top-left-radius: 5%;
    // background-color: $bg-color;
  }

  /* PROJECTS */
  
  .projects-container, .skills-container, .gen-skills-container {
    grid-template: 1fr / repeat(5, 1fr);
  }

  // .projects-container  {
  //   background-color: $bg-color;
  // }

  .about-1, .project-1, .skill-1, .gen-skill-1 {
    border-color: $border-color;
    color: #1E1E24;
  }

  .project-1 {
    background-color: $projects-color;
  }

  .skill-1 {
    background-color: $skills-color;
  }

  .gen-skill-1 {
    background-color: $genskills-color;
  }

  .about-container .square-2 {
    grid-column: span 4;
  }


  /* SKILLS */
  
  .about-1 {
    background-image: url('../images/paulo.jpeg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 5%;
  }

  footer {
    background-color: #1E1E24;
    width: 98%;
    height: 10rem;
    margin: 1rem auto;

    h2 {
      color: #ECEBE4;
    }

  }

  @media only screen and (max-width: 642px) {
    #menu {
        display: inline;
        position: relative;
    }
    
    .options {
        display: none;
        position: relative;
    }
  }

  @media only screen and (max-width : 414px) {

    html,
    body {
      max-width: 414px;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      // overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
    }

    main {
      margin: 0 auto;
      max-width: 414px;
      display: flex;
      flex-direction: column;
      max-width: 98%;
    }

    h1 {
      font-size: 1rem;
    }

    nav a img {
      font-size: 0.5rem;
      padding: 0.2rem;
    }

    .containers {
      // margin: auto;
      display: flex;
      flex: column wrap;
      margin: 0 auto;
      column-gap: 0;
      row-gap: 0;
    }

    .about-container {
      display: flex;
      flex: row wrap;
      height: auto;
      justify-content: center;
      justify-content: center;

      & .sections {
        width: 46%;
      }

    }

    .about-1 {
      background-size: cover;
      background-position: bottom;
    }

    .about-2 {
      border-bottom-right-radius: 5%;
    }

    .sections {
      // max-height: 10rem;
      margin: 0.25rem auto;
      max-height: 98%;
      height: 12.5rem;
      max-width: 98%;
      justify-content: center;
      justify-self: center;
      text-align: center;

      & p {
        margin: 0.5rem 0.5rem;
      }
    }

    .project-1, .skill-1, .gen-skill-1 {
      height: 50%;
      margin-top: 1rem;
    }

    label {
      color: $font-color;
      font-size: small;
    }

    footer {
      margin-top: 0.5rem;
    }
  }