// fav colors #DA304C;

:root {
  --body-bg: #F7F9F7; 
  --body-color: #1E1E24;
  --sections-color: #F7F9F7;
  --footer-bg: #1E1E24;
  --border-color: #1E1E24;
}

.dark-mode:root {
  --body-bg: #1E1E24; 
  --body-color: #fff;
  --sections-color: #6c6c6c;
  // --sections-color: #424651;
  --footer-bg: black;
  --border-color: #474747;
}

$bg-color: var(--body-bg); 
$font-color: var(--body-color);
$projects-color: hsl(180, 100%, 32%);
$skills-color: hsl(300, 80%, 32%);
$tech-color: hsl(359, 100%, 66%);
$sections-color: var(--sections-color);
$border-color: var(--border-color);
$footer-bg: var(--footer-bg);

label {
  color: $font-color;
}

// $border-color: #39FF14;
// $sections-color: #30343F; Gunmetal
// $sections-color: #A663CC; RECONECTA
// $sections-color: #1E1E24; RAISIN !!!
// $sections-color: #127475; SKOBELOFF
// $sections-color: #FF5154; TART ORANGE !!!
// 00B2CA Pacific blue


// $bg-color: hwb(204 20% 20%);
// $sections-color: hsl(188, 54%, 80%) ;
// $border-color: #62676A;
// $font-color: #181E34;

body {
    // background-color: $bg-color;
    background-color: $bg-color;
    color: $font-color;
    border-color: $border-color;
    transition: ease-in-out 250ms;
    // font-family: 'DynaPuff', cursive;
    // font-family: 'IM Fell Double Pica SC', serif;
    // font-family: 'Uncial Antiqua', cursive;
    // font-family: 'Zen Dots', cursive;
    font-family: 'Galindo', cursive;
    // font-family: 'Revalia', cursive;
    // font-family: 'Metal Mania', cursive;
    // font-family: 'New Rocker', cursive;
    // font-family: 'Goldman', cursive;
    // font-family: 'Shojumaru', cursive;
    // font-family: 'Righteous', cursive;    
  }

  .sections {
    display: flex;
    flex-direction: column;
    border: 3px solid $border-color;
    width: 100%;
    // min-width: 200px;
    height: 12.5rem;
    color: $font-color;
    background-color: $sections-color;
    align-items: center;
    z-index: 1;

    & .skill-title {
      background-color: $skills-color;
    }
    & .tech-title {
      background-color: $tech-color;
    }
    & .project-title {
      background-color: $projects-color;
    }

    & .section-title {
      display: flex;
      position: relative;
      width: 100%;
      height: 1.5rem;
      top: 0px;
      left: 0px;
      align-items: center;
      justify-content: center;
      background-color: $bg-color;
      z-index: 0;
      border-bottom: 3px solid #1E1E24;

    }

    & .section-title h3 {
      color: $font-color;
    }

    & .square-container {
      height: 100%;
      width: 100%;
      display: flex;
      // flex-flow: row wrap;
      justify-content: space-evenly;
      align-items: center;
      align-content: center;
      // justify-items: baseline;
      position: relative;
      // margin: 0 auto;

      & .square-contents {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-items: right;
        margin: auto 0;
        align-content: flex-end;
        justify-content: center;

        & .square-content {
          position: relative;
          height: 1.6868125rem;
          display: flex;
          font-size: 0.8rem;
          color: $font-color;
          // border: 1.5px solid $border-color;
          padding: 0.25rem;
          margin: auto 0;
          // justify-self: center;
          text-align: center;
          justify-items: center;
  
          & p {
            text-align: center;
            align-self: center;
            text-decoration: underline;
          }
        }
      }

      & .square-bars {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-items: right;
        margin: auto 0;
        align-content: flex-end;
        justify-content: center;

        & .square-bar {
          position: relative;
          height: 1.6868125rem;
          display: flex;
          font-size: 0.8rem;
          color: $font-color;
          padding: 0.25rem;
          margin: auto 0;
          text-align: center;
          justify-items: center;
  
          & p {
            text-align: center;
            align-self: center;
            text-decoration: underline;
          }
        }
      }
    }
  }

  div.track, div.bar {
    box-sizing: border-box;
    position: relative;
}
 
div.progress {
    width: 100px;
    padding-left: 2px;
    padding-right: 2px;
    height: 21px;
    border-radius: 5px;
    border: solid 3px #4e4e4e;
    background-color: #1e1e1e;
    position: relative;
    top: 0;
    left: 0;
}
 
div.track {
    position: relative;
    width: 100%;
    height: 21px;
    overflow: hidden;
    -webkit-animation: prgBar 1.25s ease-in-out 0s forwards;
    animation: prgBar 1.25s ease-in-out 0s forwards;
}
 
div.bar {
    height: 15px;
    width: 6px;
    position: relative;
    border-radius:2px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 100px;
    top: 3px;
    float: left;
    clear: top;
}

.skill-bar {
  background-color: $skills-color;
  box-shadow: 0px 0px 5px $skills-color;
}

.tech-bar {
  background-color: $tech-color;
  box-shadow: 0px 0px 5px $tech-color;
}
 
@-webkit-keyframes prgBar {
    0%    { width: 0% }
    9.99% { width: 0% }
    10%   { width: 10% }
    95%   { width: 100% }
}
 
@keyframes prgBar {
    0%    { width: 0% }
    9.99% { width: 0% }
    10%   { width: 10% }
    95%   { width: 100% }
}
  
  header {
    display: flex;
    color: white;
    height: 4rem;
    margin: 0 auto;
    width: 98%;
    align-items: center;
    justify-content: space-between;
  }

  h1 {
    // font-family: 'Revalia', cursive;
    font-size: 2rem;
    font-weight: 900;
    margin: auto 0;
    color: $font-color;
  }

  h2 {
    font-size: 1.5rem;
  }
  
  main {
    display: grid;
    margin: auto 0;
  }
 
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo h1 {
    margin-left: 0.5rem;
  }
  
  header img {
    height: 3rem;
    width: 3rem;
  }
  
  header nav {
    display: flex;
    justify-content: right;
  }
  
  header ul li {
    display: inline;
  }

  #menu {
    display: none;
    position: absolute;
    
    &:hover {
      background-color: $bg-color;
      }
    }

  nav a {
    padding: 0.5rem;
    font-weight: bold;
    color: $font-color;
    border-radius: 15px;

    &:hover {
      background-color: $font-color;
      color: $bg-color;
      transition: 250ms;
      border-radius: 15px;

      &.option-skill {
        color: $skills-color;
      }
      &.option-tech {
        color: $tech-color;
      }
      &.option-project {
        color: $projects-color;
      }

    }
  }
  
  .containers {
    display: grid;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 0.5rem;
    width: 98%;
    min-height: 12.5rem;
    column-gap: 1rem;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
  }
  
  /* ABOUT */
  
  .about-container {
    grid-template: 1fr / repeat(5, 1fr);
  }

  .about-container .square-2 {
    display: flex;
    justify-content: center;
    grid-column: span 4;
  }


  /* PROJECTS */
  
  .projects-container, .skills-container, .tech-skills-container {
    grid-template: 1fr / repeat(5, 1fr);
  }

  // .projects-container  {
  //   background-color: $bg-color;
  // }

  .about-1, .project-1, .skill-1, .tech-skill-1 {
    border-color: $border-color;
    justify-content: center;
    color: #1E1E24;
  }

  .project-1 {
    background-color: $projects-color;
    // max-width: 10.2405625rem;
  }

  .skill-1 {
    background-color: $skills-color;
    // max-width: 10.2405625rem;
  }
  
  .tech-skill-1 {
    background-color: $tech-color;
    // max-width: 10.2405625rem;
  }

  .sections .skill-title {
    background-color: $skills-color;
  }
  .sections .tech-title {
    background-color: $tech-color;
  }
  .sections .project-title {
    background-color: $projects-color;
  }


  .about-container .square-2 {
    grid-column: span 4;
  }


  /* SKILLS */
  
  .about-1 {
    background-image: url('../images/paulo.jpeg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 5%;
  }

  footer {
    background-color: #1E1E24;
    width: 98%;
    height: 10rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border: 3px solid $border-color;
    width: 100%;
    height: 12.5rem;
    justify-content: center;
    align-items: center;
    // line-height: 1.5;

    h2 {
      color: #ECEBE4;
    }
  }

  @media only screen and (max-width: 642px) {
    #menu {
        display: inline;
        position: relative;
    }
    
    .options {
        display: none;
        position: relative;
    }
  }

  @media only screen and (max-width : 414px) {

    html,
    body {
      max-width: 414px;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      // overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
    }

    main {
      margin: 0 auto;
      max-width: 414px;
      display: flex;
      flex-direction: column;
      max-width: 98%;
    }

    h1 {
      font-size: 1rem;
    }

    nav a img {
      font-size: 0.5rem;
      padding: 0.2rem;
    }

    .containers {
      // margin: auto;
      display: flex;
      flex: column wrap;
      margin: 0 auto;
      column-gap: 0;
      row-gap: 0;
    }

    .about-container {
      display: flex;
      flex: row wrap;
      height: auto;
      justify-content: center;

      & .sections {
        width: 46%;
      }

    }

    .about-1 {
      background-size: cover;
      background-position: bottom;
    }

    .about-2 {
      align-self: center;
      height: 100%;
      margin: auto 0;
      border-bottom-right-radius: 5%;
    }

    .sections {
      display: flex;
      flex-direction: column;
      margin: 0.25rem auto;
      max-height: 98%;
      height: 12.5rem;
      max-width: 98%;
      justify-content: center;
      justify-self: center;
      text-align: center;

      & p {
        margin: 0.5rem 0.5rem;
      }

      & .square-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: last baseline;
        justify-items: flex-start;
        align-items: baseline;
      }

    }

    .project-1, .skill-1, .tech-skill-1 {
      height: 5rem;
      margin-top: 1rem;
    }

    label {
      color: $font-color;
      font-size: small;
    }

    footer {
      margin-top: 0.5rem;
    }
  }