:root {
  --body-bg: #F7F9F7;
  --body-color: #1E1E24;
  --sections-color: #F7F9F7;
  --footer-bg: #1E1E24;
  --border-color: #1E1E24;
  --menu-icon: "../resources/images/menu.svg" ;
}

.dark-mode:root {
  --body-bg: #1E1E24;
  --body-color: #fff;
  --sections-color: #6c6c6c;
  --footer-bg: black;
  --border-color: #474747;
  --menu-icon: "../resources/images/menu-dark.png" ;
}

label {
  color: var(--body-color);
}

body {
  background-color: var(--body-bg);
  color: var(--body-color);
  border-color: var(--border-color);
  transition: ease-in-out 250ms;
  font-family: "Galindo", cursive;
}

.sections {
  display: flex;
  flex-direction: column;
  border: 3px solid var(--border-color);
  min-width: 12.5rem;
  width: 100%;
  height: 12.5rem;
  color: var(--body-color);
  background-color: var(--sections-color);
  align-items: center;
  z-index: 1;
}
.sections .skill-title {
  background-color: #ff5254;
}
.sections .tech-title {
  background-color: #00a3a3;
}
.sections .project-title {
  background-color: #a552ff;
}
.sections .section-title {
  display: flex;
  position: relative;
  width: 100%;
  height: 1.5rem;
  top: 0px;
  left: 0px;
  align-items: center;
  justify-content: center;
  background-color: var(--body-bg);
  z-index: 0;
  border-bottom: 3px solid #1E1E24;
}
.sections .section-title h3 {
  color: #1E1E24;
}
.sections .square-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
}
.sections .square-container .square-contents {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  align-content: flex-end;
  justify-content: space-evenly;
  justify-items: center;
}
.sections .square-container .square-contents .square-content {
  position: relative;
  height: 1.6868125rem;
  display: flex;
  font-size: 0.8rem;
  color: var(--body-color);
  padding: 0.25rem;
  margin: auto 0;
  text-align: center;
  justify-items: center;
}
.sections .square-container .square-contents .square-content p {
  text-align: right;
  align-self: center;
  text-decoration: underline;
}
.sections .square-container .square-bars {
  display: flex;
  position: relative;
  min-width: 50%;
  flex-direction: column;
  align-items: flex-start;
  justify-items: right;
  margin: auto 0;
  align-content: flex-end;
  justify-content: center;
}
.sections .square-container .square-bars .square-bar {
  position: relative;
  height: 1.6868125rem;
  display: flex;
  font-size: 0.8rem;
  color: var(--body-color);
  padding: 0.25rem;
  margin: auto 0;
  text-align: center;
  justify-items: center;
}
.sections .square-container .square-bars .square-bar p {
  text-align: center;
  align-self: center;
  text-decoration: underline;
}

div.track, div.bar {
  box-sizing: border-box;
  position: relative;
}

.projects-container .square-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.projects-container .buttons-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  background-color: white;
}
.projects-container ul > li {
  display: inline-block;
}
.projects-container .button {
  width: auto;
  margin: 1rem 0;
  color: #fff;
  background-color: #1E1E24;
  transition: transform 300ms;
  transform-origin: bottom center;
}
.projects-container .button:hover {
  background-color: #a552ff;
  color: var(--body-color);
  transform: translateY(-2px);
}
.projects-container .button:hover a {
  color: #1E1E24;
}
.projects-container .button a {
  display: inline-block;
  color: #F7F9F7;
  padding: 0.5rem;
}

.project-image-1 {
  background-image: url(../images/sigma.PNG);
  background-size: cover;
  background-repeat: no-repeat;
}

.project-image-2 {
  background-image: url(../images/re-conecta.PNG);
  background-size: cover;
}

.project-image-3 {
  background-image: url(../images/football-club.PNG);
  background-size: cover;
}

div.progress {
  width: 100px;
  padding-left: 2px;
  padding-right: 2px;
  height: 21px;
  border-radius: 5px;
  border: solid 3px #4e4e4e;
  background-color: #1e1e1e;
  position: relative;
  top: 0;
  left: 0;
}

div.track {
  position: relative;
  width: 100%;
  height: 21px;
  overflow: hidden;
  -webkit-animation: prgBar 1.25s ease-in-out 0s forwards;
  animation: prgBar 1.25s ease-in-out 0s forwards;
}

div.bar {
  height: 15px;
  width: 6px;
  position: relative;
  border-radius: 2px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 100px;
  top: 3px;
  float: left;
  clear: top;
}

.skill-bar {
  background-color: #ff5254;
  box-shadow: 0px 0px 5px #ff5254;
}

.tech-bar {
  background-color: #00a3a3;
  box-shadow: 0px 0px 5px #00a3a3;
}

.project-bar {
  background-color: #a552ff;
  box-shadow: 0px 0px 5px #a552ff;
}

@-webkit-keyframes prgBar {
  0% {
    width: 0%;
  }
  9.99% {
    width: 0%;
  }
  10% {
    width: 10%;
  }
  95% {
    width: 100%;
  }
}
@keyframes prgBar {
  0% {
    width: 0%;
  }
  9.99% {
    width: 0%;
  }
  10% {
    width: 10%;
  }
  95% {
    width: 100%;
  }
}
header {
  display: flex;
  color: white;
  height: 4rem;
  margin: 0 auto;
  width: 98%;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-size: 2rem;
  font-weight: 900;
  margin: auto 0;
  color: var(--body-color);
}

h2 {
  font-size: 1.5rem;
}

main {
  display: grid;
  margin: auto 0;
}

.logo {
  display: flex;
  align-items: center;
}

.logo h1 {
  margin-left: 0.5rem;
}

header img {
  height: 3rem;
  width: 3rem;
}

header nav {
  display: flex;
  justify-content: right;
}

header ul li {
  display: inline;
}

#menu {
  display: none;
  position: absolute;
}
#menu:hover {
  background-color: var(--body-bg);
}

nav a {
  padding: 0.5rem;
  font-weight: bold;
  color: var(--body-color);
  border-radius: 15px;
}
nav a:hover {
  background-color: var(--body-color);
  color: var(--body-bg);
  transition: 250ms;
  border-radius: 15px;
}
nav a:hover.option-skill {
  color: #ff5254;
}
nav a:hover.option-tech {
  color: #00a3a3;
}
nav a:hover.option-project {
  color: #a552ff;
}

.containers {
  display: grid;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  width: 98%;
  min-height: 12.5rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  justify-items: center;
  justify-content: space-between;
  align-items: center;
}

/* ABOUT */
.about-container {
  grid-template: 1fr/repeat(5, 1fr);
}

.about-container .square-2 {
  display: flex;
  justify-content: center;
  grid-column: span 4;
}

/* PROJECTS */
.projects-container, .skills-container, .tech-skills-container {
  grid-template: 1fr/10.2405625rem repeat(3, 1fr);
}

.about-1, .project-1, .skill-1, .tech-skill-1 {
  border-color: var(--border-color);
  justify-content: center;
  color: #1E1E24;
}

.project-1 {
  background-color: #a552ff;
  min-width: 10.2405625rem;
}

.skill-1 {
  background-color: #ff5254;
  min-width: 10.2405625rem;
}

.tech-skill-1 {
  background-color: #00a3a3;
  min-width: 10.2405625rem;
}

.sections .skill-title {
  background-color: #ff5254;
}

.sections .tech-title {
  background-color: #00a3a3;
}

.sections .project-title {
  background-color: #a552ff;
}

.about-container .square-2 {
  grid-column: span 4;
}

/* SKILLS */
.about-1 {
  background-image: url("../images/paulo.jpeg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 5%;
}

footer {
  display: flex;
  position: relative;
  background-color: #1E1E24;
  width: 98%;
  height: 10rem;
  margin: 0 auto;
  flex-direction: column;
  border: 3px solid var(--border-color);
  height: 12.5rem;
  justify-content: center;
  align-items: center;
}
footer h2 {
  color: #ECEBE4;
}

@media only screen and (max-width: 642px) {
  #menu {
    display: inline;
    position: relative;
  }
  .options {
    display: none;
    position: relative;
  }
}
@media only screen and (max-width: 414px) {
  html,
body {
    max-width: 414px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--body-bg);
  }
  main {
    margin: 0 auto;
    max-width: 414px;
    display: flex;
    flex-direction: column;
    max-width: 98%;
  }
  h1 {
    font-size: 1rem;
  }
  nav a img {
    font-size: 0.5rem;
    padding: 0.2rem;
  }
  .containers {
    margin-bottom: 0;
    display: flex;
    flex: column wrap;
    margin: 0 auto;
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 0;
  }
  .about-container {
    display: flex;
    flex: row wrap;
    height: auto;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .about-container .sections {
    width: 46%;
  }
  .about-1 {
    background-size: cover;
    background-position: bottom;
  }
  .about-2 {
    align-self: center;
    height: 100%;
    margin: auto 0;
    border-bottom-right-radius: 5%;
  }
  .sections {
    display: flex;
    flex-direction: column;
    margin: 0.25rem auto;
    max-height: 98%;
    height: 12.5rem;
    max-width: 98%;
    justify-content: center;
    justify-self: center;
    text-align: center;
    min-width: auto;
  }
  .sections p {
    margin: 0.5rem 0.5rem;
  }
  .sections .square-contents {
    display: flex;
    min-width: 40%;
  }
  .project-1, .skill-1, .tech-skill-1 {
    height: 5rem;
  }
  label {
    color: var(--body-color);
    font-size: small;
  }
  footer {
    margin-top: 0.5rem;
  }
}/*# sourceMappingURL=styles.css.map */